*{
    margin: 0 auto;
    padding: 0 auto;
}

h1{
    text-align: center;
}
.card{
     margin: 0 auto;
     max-width: 350px;
     text-align: center;
     margin-top: 10px;
     padding: 10px;
     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
     transition: 0.3s;
     font-size: 0;
     
}
.card:hover{
    box-shadow: 0 1px 8px 0 rgba(0,0,0,0.2);
 
}
.calc-head #result{
    width: 335px;
    height: 100px;
    text-align: right;
    font-size: 32px;
    letter-spacing: 0.1cm;
   
    font-weight: bold;
}
.btn{
    width: 86px;
    height:70px;
    font-weight: bold;
    font-size: 16px;
    background-color: rgb(41, 41, 41);
    color: aliceblue;
}
.btn-style{

    background-color: purple;
}
.btn:hover{
    background-color: darkred;
}